# Ignore large raw data files
assets/data/*/raw/
CODAP-plugins/CountyHealthSelect/assets/data/*/raw/
**/assets/data/*/raw/

# Specific large files
CODAP-plugins/CountyHealthSelect/assets/data/CountyHealth-All-Data.zip
.git.bak
..bfg-report
bfg.jar

# Node modules
**/node_modules/
node_modules/